iz,apikey
01CUNY_BB,
01CUNY_BC,
01CUNY_BM,
01CUNY_BX,
01CUNY_CC,
01CUNY_SI,
01CUNY_GJ,
01CUNY_GC,
01CUNY_CL,
01CUNY_HO,
01CUNY_HC,
01CUNY_JJ,
01CUNY_KB,
01CUNY_LG,
01CUNY_LE,
01CUNY_ME,
01CUNY_NC,
01CUNY_NY,
01CUNY_QB,
01CUNY_QC,
01CUNY_YC,
